body{
    background-color: red;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 13%;
    margin-right: 12%;
    margin-top: 5%;
    line-break: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{ 
    border: 30px solid green;
    background: green;
}
h2 {
    border: 10px solid white;
    background: white;
    text-emphasis-color: green;

}